<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-title>
        Hay {{ registers.length }}
        registro{{ registers.length ? 's' : '' }}
        guardado{{ registers.length ? 's' : '' }}. Desea enviarlos?
      </ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        expand="full"
        color="primary"
        [disabled]="registers.length === 0"
        (click)="enviarRegistros()"
      >
        Enviar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
