<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-title style="text-align: center">
        Hay {{ registers.length }} registro{{
          registers.length !== 1 ? 's' : ''
        }}
        guardado{{ registers.length !== 1 ? 's' : '' }}.
        <ion-content *ngIf="registers.length > 0">
          <br />¿Desea enviarlos?
        </ion-content>
      </ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        expand="full"
        color="primary"
        [disabled]="registers.length === 0"
        (click)="enviarRegistros()"
      >
        Enviar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
