<ion-row>
  <ion-col size="auto">
    <div class="size-switch">
      <div class="container">
        <label class="switch" [for]="steperValue.columnName">
          <input
            type="checkbox"
            (click)="hadnleChange()"
            [id]="steperValue.columnName"
            [checked]="valueCheck"
          />
          <div class="slider round"></div>
        </label>
      </div>
    </div>
  </ion-col>
  <ion-col>
    <ion-text>
      {{ steperValue.label }}
    </ion-text>
  </ion-col>
</ion-row>