<div *ngFor="let card of dataSteper" >
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{card.title}}
      </ion-card-title>
      <ion-card-subtitle>
        {{card?.subtitle}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let itemInputs of card.values">
        <div [ngSwitch]="itemInputs.type">
          <app-address [steperValue]="itemInputs" *ngSwitchCase="SteperType.Address">
          </app-address>
          <app-calendar [steperValue]="itemInputs" *ngSwitchCase="SteperType.Calendar">
          </app-calendar>
          <app-check [steperValue]="itemInputs" *ngSwitchCase="SteperType.Check">
          </app-check>
          <app-email [steperValue]="itemInputs" *ngSwitchCase="SteperType.Email">
          </app-email>
          <app-filter [steperValue]="itemInputs" *ngSwitchCase="SteperType.Filter">
          </app-filter>
          <app-numbers [steperValue]="itemInputs" *ngSwitchCase="SteperType.Numbers">
          </app-numbers>
          <app-phone [steperValue]="itemInputs" *ngSwitchCase="SteperType.Phone">
          </app-phone>
          <app-relationship [steperValue]="itemInputs" *ngSwitchCase="SteperType.Relationship">
          </app-relationship>
          <app-select [steperValue]="itemInputs" *ngSwitchCase="SteperType.Select">
          </app-select>
          <app-select-filter [steperValue]="itemInputs" *ngSwitchCase="SteperType.SelectFilter">
          </app-select-filter>
          <app-text [steperValue]="itemInputs" *ngSwitchCase="SteperType.Text">
          </app-text>
          <app-text-area [steperValue]="itemInputs" *ngSwitchCase="SteperType.TextArea">
          </app-text-area>
          <div *ngSwitchDefault>
            Contenido por defecto si no coincide con ningún caso.
          </div>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>