<ion-card-content *ngIf="isLoadPatients">
  <h1>
    Cargando {{ pacientesActualizados }} registros de
    {{ infoRegistros.totalItems }} registros.
  </h1>
</ion-card-content>
<ion-card-content *ngIf="!isLoadPatients">
  <ion-text>
    Vamos a cargar el formulario. Por favor mantener la aplicación abierta
  </ion-text>
  <ion-button expand="full" color="primary" (click)="cargarFormulario()">
    Cargar
  </ion-button>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="Datos cargados con éxito"
    message="Se ha actualizado a la ultima versión."
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>
</ion-card-content>
