<span>{{steperValue.label}}</span>

<form [formGroup]="locationForm">

  <ion-item>
    <ion-label position="floating">Longitud</ion-label>
    <ion-input formControlName="longitud" [disabled]="!isShowError"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Latitud</ion-label>
    <ion-input formControlName="latitud" [disabled]="!isShowError"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="isShowError">
    No se puede capturar la ubicación
  </ion-text>

  <ion-button expand="full" (click)="capturarUbicacion()">
    <ion-icon name="globe-outline"></ion-icon>
    Capturar Ubicación
  </ion-button>
</form>
