<ion-text>
  {{ steperValue.label }}: {{ steperValue.value }}
</ion-text><br />
<ion-button (click)="abrirModal()"> {{ options.label }} </ion-button>

<ion-modal [isOpen]="modalIsOpen">
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>{{ options.label }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Buscar</ion-label>
          <ion-input
            aria-label="busqueda"
            [formControl]="searchControl"
            placeholder="Ingrese el término de búsqueda"
          ></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="!isEmptySearch">
          <div *ngIf="options.create_new">
            {{ options.label_no_exist }}
          </div>
          <ion-button *ngIf="options.create_new" (click)="agregarNuevo()">
            Agregar
          </ion-button>
          <div *ngIf="!options.create_new">No se encontraron resultados</div>
        </ion-item>
        <ion-list>
          <ion-item
            *ngFor="let item of resultadosFiltrados"
            (click)="seleccionarItem(item)"
          >
            <ion-label>
              {{ formatItemToShow(item) }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-modal>
