<ion-content [fullscreen]="true">
  <div *ngIf="card && estado === estados[0]">
    <ion-title (click)="nextCode()">Tarjeta familiar - {{ currentCode }}</ion-title>
    <app-steper
      (saveDataMethod)="saveData($event)"
      [dataSteper]="card.familyCard"
    >
    </app-steper>
  </div>
  <div *ngIf="card && estado === estados[0]">
    <ion-title>Tarjeta personal</ion-title>
    <app-steper
      *ngIf="card && estado === estados[0]"
      (saveDataMethod)="saveData($event)"
      [dataSteper]="card.personCard"
    ></app-steper>
  </div>
</ion-content>
{{ card }}
