<div *ngIf="mostrarPonderado" class="ponderado-container">
  <div class="ponderado-header" [style.background-color]="color">
    <span class="ponderado-value">{{ ponderado }}</span>
    <span class="nivel-riesgo">{{ nivelRiesgo }}</span>
  </div>

  <!-- Planes de cuidado -->
  <div class="planes-cuidado-container">
    <h3>Planes de Cuidado</h3>

    <div class="planes-list">
      <div *ngFor="let plan of planesCuidado; let i = index" class="plan-item">
        <div class="plan-content">
          <textarea
            [value]="plan"
            (ionInput)="cambiarPlan(i, $event)"
            rows="3"
            placeholder="Escriba el plan de cuidado"
            class="plan-textarea"
          >
          </textarea>
          <ion-button (click)="borrarPlan(i)" color="danger">
            <ion-icon name="trash-bin-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

    <button class="btn-add" (click)="agregarPlan()">
      <i class="fas fa-plus"></i>
      Agregar Plan de Cuidado
    </button>
  </div>
</div>
