<div *ngIf="mostrarPonderado" class="ponderado-container">
  <div class="ponderado-header" [style.background-color]="color">
    <span class="ponderado-value">{{ ponderado }}</span>
    <span class="nivel-riesgo">{{ nivelRiesgo }}</span>
  </div>

  <!-- Planes de cuidado -->
  <div class="planes-cuidado-container">
    <h3>Planes de Cuidado</h3>

    <div class="planes-list">
      <form [formGroup]="formularioPlanes">
        <div formArrayName="planes">
          <div
            *ngFor="let plan of planes.controls; let i = index"
            class="plan-item"
          >
            <div class="plan-content">
              <ion-textarea
                [formControlName]="i"
                rows="3"
                placeholder="Escriba el plan de cuidado"
                class="plan-textarea"
              >
              </ion-textarea>
              <ion-button (click)="borrarPlan(i)" color="danger">
                <ion-icon name="trash-bin-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <button class="btn-add" (click)="agregarPlan()">
      <ion-icon name="bag-add-outline"></ion-icon>
      Agregar Plan de Cuidado
    </button>
  </div>
</div>
