<ion-content [fullscreen]="true">
  <div *ngIf="card && estado === estados[0]">
    <ion-title>Tarjeta familiar - {{ currentCode }}</ion-title>
    <app-steper
      (saveDataMethod)="saveData($event)"
      [dataSteper]="card.familyCard"
    >
    </app-steper>
  </div>
  <div *ngIf="card && estado === estados[1]">
    <ion-title>Tarjeta personal - {{ currentCode }}</ion-title>
    <app-steper
      (saveDataMethod)="saveData($event)"
      [dataSteper]="card.personCard"
      [hasManyRegister]="true"
    ></app-steper>
  </div>
</ion-content>
