<ion-list>
  <ion-item
    *ngFor="let familiyCard of familiesCards; let indexFamilyCard = index"
    (click)="seleccionarRegistro(indexFamilyCard)"
  >
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>{{ countPersons(familiyCard) }} Personas registradas</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Codigo de ficha:</strong> {{ familiyCard.code }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          ><strong>Fecha:</strong>
          {{ familiyCard.dateRegister | date : 'yyyy-MM-dd' }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col
          ><strong>Hora:</strong>
          {{ familiyCard.dateRegister | date : 'hh:mm a' }}</ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
