<ion-content class="ion-padding">
  <ion-button (click)="nuevoRegistro()">
    <ion-icon name="add-circle-sharp"></ion-icon>
    &nbsp; Nuevo Registro
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de tarjetas</ion-card-title>
      <ion-card-subtitle>
        Seleccione e ingrese a un listado si desea editarlo o revisarlo.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-listar></app-listar>
    </ion-card-content>
  </ion-card>
</ion-content>
