<ion-content class="ion-padding">
  <ion-button routerLink="/registros/nuevo" [disabled]="!tieneFichas">
    <ion-icon name="add-circle-sharp"></ion-icon>
    &nbsp; Nuevo Registro
  </ion-button>
  <div class="ion-text-center ion-margin-top" *ngIf="!tieneFichas">
    <ion-badge
      color="warning"
      style="white-space: normal; width: 100%; display: block"
      class="ion-padding"
    >
      <ion-icon name="warning-outline"></ion-icon>
      Aún no ha cargado la ficha. Por favor vaya a "Actualizar" en el menú.
    </ion-badge>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de tarjetas</ion-card-title>
      <ion-card-subtitle>
        Seleccione e ingrese a un listado si desea editarlo o revisarlo.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-listar></app-listar>
    </ion-card-content>
  </ion-card>
</ion-content>
