<div *ngFor="let card of dataSteper; let i = index">
  <ion-card *ngIf="currentStep === i">
    <ion-card-header>
      <ion-card-title class="title-card">
        {{ card.title }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ card?.subtitle }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="line">
        <ng-container
          *ngFor="let itemInputs of card.values"
          [ngSwitch]="itemInputs.type"
        >
          <div *ngSwitchCase="SteperType.Title">
            <app-title
              *ngIf="isVisibilityInput(itemInputs, card)"
              [steperValue]="itemInputs"
              [formValue]="dataSteper"
            >
            </app-title>
          </div>
          <div *ngSwitchCase="SteperType.SubTitle">
            <app-subtitle
              *ngIf="isVisibilityInput(itemInputs, card)"
              [steperValue]="itemInputs"
              [formValue]="dataSteper"
            >
            </app-subtitle>
          </div>
          <ion-row *ngIf="isVisibilityInput(itemInputs, card)">
            <ion-col *ngSwitchCase="SteperType.Address" class="ion-input-line">
              <app-address
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-address>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Calendar" class="ion-input-line">
              <app-calendar
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-calendar>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Check" class="ion-input-line">
              <app-check
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-check>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Email" class="ion-input-line">
              <app-email
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-email>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Filter" class="ion-input-line">
              <app-filter
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-filter>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Numbers" class="ion-input-line">
              <app-numbers
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-numbers>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Phone" class="ion-input-line">
              <app-phone
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-phone>
            </ion-col>
            <ion-col
              *ngSwitchCase="SteperType.Relationship"
              class="ion-input-line"
            >
              <app-relationship
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-relationship>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Select" class="ion-input-line">
              <app-select
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-select>
            </ion-col>
            <ion-col
              *ngSwitchCase="SteperType.selectMultiple"
              class="ion-input-line"
            >
              <app-select-multiple
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-select-multiple>
            </ion-col>
            <ion-col
              *ngSwitchCase="SteperType.SelectFilter"
              class="ion-input-line"
            >
              <app-select-filter
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-select-filter>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Text" class="ion-input-line">
              <app-text
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-text>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.TextArea" class="ion-input-line">
              <app-text-area
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-text-area>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Photo" class="ion-input-line">
              <app-photo
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-photo>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.GPS" class="ion-input-line">
              <app-gps
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-gps>
            </ion-col>
            <ion-col *ngSwitchCase="SteperType.Ruta" class="ion-input-line">
              <app-ruta-atencion
                [steperValue]="itemInputs"
                (saveInputData)="saveValueColumn($event)"
                [formValue]="dataSteper"
              >
              </app-ruta-atencion>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" [disabled]="isLastDisabled" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Anterior
      </ion-button>
    </ion-col>
    <ion-col *ngIf="!isShowSave">
      <ion-button expand="block" [disabled]="isNextDisabled" (click)="goNext()">
        Siguiente
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="isShowSave">
      <ion-button
        color="warning"
        [disabled]="isNextDisabled && isDisabled"
        expand="block"
        (click)="nuevoRegistro()"
      >
        <ion-icon name="save-outline"></ion-icon>
        &nbsp;
        {{ isUpdate ? 'Actualizar' : 'Nuevo' }} registro
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isShowSave && hasManyRegister">
    <ion-col>
      <ion-button
        *ngIf="!isUpdate"
        color="danger"
        [disabled]="isNextDisabled && isDisabled"
        expand="block"
        (click)="guardar()"
      >
        <ion-icon name="save-outline"></ion-icon>
        &nbsp; Guardar y salir
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
